@tailwind base;
@tailwind components;
@tailwind utilities;
@import './fonts.css';

*, *::before, *::after{
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

main {
  background-image: linear-gradient(0deg, rgb(61, 103, 216),rgb(65, 80, 170),rgb(53, 69, 115));
}

#display-container{
  font-family: 'dsdigital';
  background: linear-gradient(120deg, transparent 50%, rgba(255, 255, 255, 0.055) 51%, transparent 65%, rgba(255, 255, 255, 0.055) 66%, transparent 70%);
}
